In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sibulator import *

In [36]:
data = pd.read_csv('vertical_test.csv').dropna(axis=1)
data.columns = data.iloc[0].values
data = data.drop(0).reset_index(drop=True).transpose()
data.columns = data.iloc[0].values
data.drop(data.index[0], inplace=True)
display(data.head())

data = data.iloc[0]
known_sample = {}
for col in ['CaseNumber', 'Sample']:
    if col in data.index:
        data.drop(col, inplace=True)
for loc in data.index:
    allele = data[loc]
    key = loc.split('.')[0]
    known_sample[key] = known_sample.get(key, []) + [allele]
    
known_sample

,D3S1358,D3S1358,D1S1656,D1S1656,D2S441,D2S441,D10S1248,D10S1248,D13S317,D13S317,...,D8S1179,D8S1179,D12S391,D12S391,D19S433,D19S433,FGA,FGA,D22S1045,D22S1045
Allele,18,15.2,17.3,15.3,12.3,13,11,13,14,8,...,9,11,14,18.3,14.2,10,18.2,24,17,16

{'D3S1358': [D3S1358      18
  D3S1358    15.2
  Name: Allele, dtype: object,
  D3S1358      18
  D3S1358    15.2
  Name: Allele, dtype: object],
 'D1S1656': [D1S1656    17.3
  D1S1656    15.3
  Name: Allele, dtype: object,
  D1S1656    17.3
  D1S1656    15.3
  Name: Allele, dtype: object],
 'D2S441': [D2S441    12.3
  D2S441      13
  Name: Allele, dtype: object,
  D2S441    12.3
  D2S441      13
  Name: Allele, dtype: object],
 'D10S1248': [D10S1248    11
  D10S1248    13
  Name: Allele, dtype: object,
  D10S1248    11
  D10S1248    13
  Name: Allele, dtype: object],
 'D13S317': [D13S317    14
  D13S317     8
  Name: Allele, dtype: object,
  D13S317    14
  D13S317     8
  Name: Allele, dtype: object],
 'Penta_E': [Penta_E    8
  Penta_E    5
  Name: Allele, dtype: object,
  Penta_E    8
  Penta_E    5
  Name: Allele, dtype: object],
 'D16S539': [D16S539    10
  D16S539    10
  Name: Allele, dtype: object,
  D16S539    10
  D16S539    10
  Name: Allele, dtype: object],
 'D18S51': [D18S51    14
  D18S51    19
  Name: Allele, dtype: object,
  D18S51    14
  D18S51    19
  Name: Allele, dtype: object],
 'D2S1338': [D2S1338    20
  D2S1338    21
  Name: Allele, dtype: object,
  D2S1338    20
  D2S1338    21
  Name: Allele, dtype: object],
 'CSF1PO': [CSF1PO     7
  CSF1PO    12
  Name: Allele, dtype: object,
  CSF1PO     7
  CSF1PO    12
  Name: Allele, dtype: object],
 'Penta_D': [Penta_D     13
  Penta_D    3.2
  Name: Allele, dtype: object,
  Penta_D     13
  Penta_D    3.2
  Name: Allele, dtype: object],
 'TH01': [TH01    7
  TH01    6
  Name: Allele, dtype: object,
  TH01    7
  TH01    6
  Name: Allele, dtype: object],
 'vWA': [vWA    17
  vWA    18
  Name: Allele, dtype: object,
  vWA    17
  vWA    18
  Name: Allele, dtype: object],
 'D21S11': [D21S11    35
  D21S11    31
  Name: Allele, dtype: object,
  D21S11    35
  D21S11    31
  Name: Allele, dtype: object],
 'D7S820': [D7S820    6
  D7S820    6
  Name: Allele, dtype: object,
  D7S820    6
  D7S820    6
  Name: Allele, dtype: object],
 'D5S818': [D5S818    10
  D5S818     9
  Name: Allele, dtype: object,
  D5S818    10
  D5S818     9
  Name: Allele, dtype: object],
 'TPOX': [TPOX    12
  TPOX     6
  Name: Allele, dtype: object,
  TPOX    12
  TPOX     6
  Name: Allele, dtype: object],
 'D8S1179': [D8S1179     9
  D8S1179    11
  Name: Allele, dtype: object,
  D8S1179     9
  D8S1179    11
  Name: Allele, dtype: object],
 'D12S391': [D12S391      14
  D12S391    18.3
  Name: Allele, dtype: object,
  D12S391      14
  D12S391    18.3
  Name: Allele, dtype: object],
 'D19S433': [D19S433    14.2
  D19S433      10
  Name: Allele, dtype: object,
  D19S433    14.2
  D19S433      10
  Name: Allele, dtype: object],
 'FGA': [FGA    18.2
  FGA      24
  Name: Allele, dtype: object,
  FGA    18.2
  FGA      24
  Name: Allele, dtype: object],
 'D22S1045': [D22S1045    17
  D22S1045    16
  Name: Allele, dtype: object,
  D22S1045    17
  D22S1045    16
  Name: Allele, dtype: object]}

In [2]:
known_sample_path = 'AfAm Noncontributor Database.csv'
allele_freq_data = 'nist'
subpop = 'AfAm'
num_siblings = 1000
dest_path = 'test.csv'

In [11]:
allele_freq = load_allele_frequencies(allele_freq_data)
for al, freq in zip(allele_freq['D3S1358']['AfAm']['alleles'], allele_freq['D3S1358']['AfAm']['frequency']):
    print(al, freq / np.sum(allele_freq['D3S1358']['AfAm']['frequency']))

2.2 0.0
3.2 0.0
4 0.0
4.2 0.0
5 0.0
6 0.0
6.3 0.0
7 0.0
8 0.0
8.1 0.0
9 0.0
9.1 0.0
9.3 0.0
10 0.0
10.1 0.0
10.2 0.0
10.3 0.0
11 0.0
11.2 0.0
11.3 0.0
12 0.0044
12.2 0.0
12.3 0.0
13 0.0029
13.2 0.0
13.3 0.0
13.4 0.0
14 0.0906
14.2 0.0
14.3 0.0
15 0.3085
15.2 0.0015
15.3 0.0
15.4 0.0
16 0.3187
16.2 0.0
16.3 0.0
17 0.212
17.1 0.0
17.2 0.0
17.3 0.0
18 0.057
18.1 0.0
18.2 0.0
18.3 0.0
19 0.0044
19.1 0.0
19.2 0.0
19.3 0.0
19.4 0.0
20 0.0
20.1 0.0
20.2 0.0
20.3 0.0
21 0.0
21.2 0.0
21.3 0.0
22 0.0
22.2 0.0
22.3 0.0
23 0.0
23.2 0.0
23.3 0.0
24 0.0
24.2 0.0
24.3 0.0
25 0.0
25.2 0.0
26 0.0
26.2 0.0
27 0.0
27.2 0.0
27.3 0.0
28 0.0
28.2 0.0
28.3 0.0
29 0.0
29.2 0.0
29.3 0.0
30 0.0
30.2 0.0
30.3 0.0
31 0.0
31.2 0.0
32 0.0
32.2 0.0
33 0.0
33.1 0.0
33.2 0.0
34 0.0
34.2 0.0
35 0.0
36 0.0
37 0.0
38 0.0
39 0.0
43.2 0.0

In [12]:
known_sample = load_known_sample(known_sample_path)
known_sample

{'D3S1358': [18.0, 15.2],
 'D1S1656': [17.3, 15.3],
 'D2S441': [12.3, 13.0],
 'D10S1248': [11, 13],
 'D13S317': [14, 8],
 'Penta_E': [8, 5],
 'D16S539': [10, 10],
 'D18S51': [14.0, 19.0],
 'D2S1338': [20, 21],
 'CSF1PO': [7, 12],
 'Penta_D': [13.0, 3.2],
 'TH01': [7.0, 6.0],
 'vWA': [17, 18],
 'D21S11': [35.0, 31.0],
 'D7S820': [6, 6],
 'D5S818': [10, 9],
 'TPOX': [12, 6],
 'D8S1179': [9, 11],
 'D12S391': [14.0, 18.3],
 'D19S433': [14.2, 10.0],
 'FGA': [18.2, 24.0],
 'D22S1045': [17, 16]}