In [16]:
import pandas as pd
import numpy as np
import io
import json

In [2]:
f = open('fbi_dataset_raw.txt', 'r')
text = f.read().replace('<', '').replace('>', '')
f.close()

In [3]:
populations = [t.strip() for t in text.split('\n\n')[1:] if t[:3] != 'ID#']
data = [t.strip() for t in text.split('\n\n')[1:] if t[:3] == 'ID#']
allele_dfs = []
for d in data:
    temp = []
    for s in d.split('\n'):
        temp.append( [t.strip() for t in s.split('\t') if t != ''] )
    columns = []
    for t in temp[0]:
        if t == 'ID#':
            columns.append(t)
        else:
            columns.append(t)
            columns.append(t + '.1')
    temp[0] = columns
    allele_dfs.append( pd.DataFrame(temp[1:], columns=temp[0]) )

In [11]:
metadata = dict(zip(populations, [df.shape[0] for df in allele_dfs]))
metadata

{'AFRICAN AMERICAN': 210,
 'U.S. CAUCASIAN': 203,
 'SOUTHWESTERN HISPANIC': 209,
 'BAHAMIAN': 162,
 'JAMAICAN': 244,
 'TRINIDADIAN': 85}

In [17]:
with open('fbi_dataset_metadata.json', 'w') as f:
    json.dump(metadata, f)

In [12]:
np.sum(list(metadata.values()))

1113

In [8]:
dfs_by_pop = dict(zip(populations, allele_dfs))

In [14]:
allele_dfs = pd.concat(allele_dfs, ignore_index=True)
print(allele_dfs.drop_duplicates().shape)

(1113, 41)

In [6]:
allele_dfs.describe()

,ID#,D3S1358,D3S1358.1,vWA,vWA.1,FGA,FGA.1,D8S1179,D8S1179.1,D21S11,...,LDLR,LDLR.1,GYPA,GYPA.1,HBGG,HBGG.1,D7S8,D7S8.1,Gc,Gc.1
count,1113,1113,1113,1113,1113,1113,1113,1113,1113,1113,...,622,622,622,622,622,622,622,622,622,622
unique,1113,10,7,9,9,20,21,10,10,15,...,3,3,3,3,4,4,3,3,4,4
top,H401,15,16,16,18,22,24,13,14,28,...,A,B,A,B,A,B,A,B,B,C
freq,1,505,342,355,296,239,233,311,350,319,...,377,520,497,438,392,370,516,385,274,376

In [7]:
allele_df.to_csv('fbi_dataset.csv', index=False)